    <div>
    <div class="listar-form">
      <form [formGroup]="listarCliForms" (submit)="buscarReservaCliente()"  class="example-form">
        <mat-card-content>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="cédula" formControlName="cedula">
          </mat-form-field>
        </mat-card-content>
        <button mat-stroked-button color="red" class="btn-block" type="submit">BUSCAR RESERVAS DEL CLIENTE</button>
      </form>

    </div>


      <ul class="cliente">
      <li  *ngFor="let p of reserva">
      <span class="badge">{{p.id}}</span> {{p.name}}
      <a>no tiene reservas {{cliente.nombre}}</a>
    </li>
    </ul>
      </div>
