

  <div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
      <mat-card class="box">
        <mat-card-header>
          <mat-card-title>Registrar</mat-card-title>
        </mat-card-header>

        <form [formGroup] = "form1" (submit)="registrarUsuario()" #f="ngForm" class="example-form">


          
          <mat-card-content>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Cédula" formControlName="cedula" name="cedula" type="text" pattern="[0-9]{10}" >
            </mat-form-field>

            <mat-form-field class="example-full-width">
              <input matInput placeholder="nombre" formControlName="nombre" ngModel required >
            </mat-form-field>


            <mat-form-field class="example-full-width">
              <input matInput placeholder="apellido" formControlName="apellido" type="text" ngModel required >
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <input matInput placeholder="direccion" formControlName="direccion" type="text" ngModel required >
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <input matInput placeholder="correo" formControlName="correo" type="email" ngModel required >
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <input matInput placeholder="telefono" formControlName="telefono" type="number" ngModel required >
              </mat-form-field>

          </mat-card-content>

          <button mat-stroked-button color="red" [disabled]="f.invalid" class="btn-block">Crear Cuenta</button>

        </form>
      </mat-card>
    </div>
